:root {
    --color-brand-black: #1C1C1C;
    --color-brand-white: #E7E3DD;
    --color-brand-purple: #4253FF;
    --color-brand-yellow: #F0D72E;
    --font-title: 'Bowlby One', cursive;
    --font-body: 'Inter', sans-serif;
}

html,
body {
    background-color: var(--color-brand-black);
    color: var(--color-brand-white);
    font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-title);
}

.font-title {
    font-family: var(--font-title);
}

.text-brand-black {
    color: var(--color-brand-black);
}

.text-brand-white {
    color: var(--color-brand-white);
}

.border-brand-white {
    border-color: var(--color-brand-white);
}

.border-brand-black {
    border-color: var(--color-brand-black);
}

.text-brand-purple {
    color: var(--color-brand-purple);
}

.text-brand-yellow {
    color: var(--color-brand-yellow);
}

.bg-brand-black {
    background-color: var(--color-brand-black);
}

.bg-brand-white {
    background-color: var(--color-brand-white);
}

.after\:bg-brand-white:after,
.before\:bg-brand-white:before {
    background-color: var(--color-brand-white);
}

.bg-brand-purple {
    background-color: var(--color-brand-purple);
}

.bg-brand-yellow {
    background-color: var(--color-brand-yellow);
}

.button-shadow {
    box-shadow: .4em .4em 0 currentColor;
    position: relative;
    transition: transform .1s ease-in-out, box-shadow .1s ease-in-out;

    &:hover,
    &:focus {
        transform: translate3d(.4em, .4em, 0);
        box-shadow: 0 0 0 currentColor;
    }
}

[data-faq-plus] {
    transition: transform .2s ease-in-out
}

.faq-open {
    [data-faq-body] {
        display: block;
    }

    [data-faq-plus] {
        transform: rotate(45deg);
    }
}